@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrainsMono-ExtraBoldItalic";
    src: url("/fonts/JetBrainsMono-ExtraBoldItalic.ttf");
  }
  @font-face {
    font-family: "JetBrainsMono-ExtraBold";
    src: url("/fonts/JetBrainsMono-ExtraBold.ttf");
  }
  @font-face {
    font-family: "JetBrainsMono-Bold";
    src: url("/fonts/JetBrainsMono-Bold.ttf");
  }
  @font-face {
    font-family: "JetBrainsMono-Medium";
    src: url("/fonts/JetBrainsMono-Medium.ttf");
  }
  @font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("/fonts/JetBrainsMono-Regular.ttf");
  }
}

* {
  color: white;
}

body {
  background-color: #0f0913;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d2b863;
}

::-webkit-scrollbar-thumb:hover {
  background: #ad832d;
}

.gradient_border {
  border: 0.5px solid transparent;
  border-image: linear-gradient(to top right, #ec4237, #d2b863, #33b6d8);
  border-image-slice: 1;
}
